.search-input {
  border: none;
}

.search-input:focus {
  outline: none;
}

.no-hover {
  color: inherit;
}

.no-hover:hover {
  color: inherit;
}

.modal-hide {
  display: none !important;
}

.modal-dialog-bottom {
  animation-name: modal-ease-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  height: 70vh;
}

.background-div {
  background-position: top;
  background-size: contain;
}

@keyframes modal-ease-in {
  from {
    transform: translateY(100%);
  }
  to {

  }
}