.cart-icon::before {
  font-size: 35px;
}

.vertical-divider {
  width: 1px; /* Width of the divider */
  background-color: #ccc; /* Color of the divider */
  height: 75%; /* Full height of the row */
}